[Unit]
Description=Bot logic
After=network.target

[Service]
Restart=always
RestartSec=3
SyslogIdentifier=bot-logic
WorkingDirectory=/var/lib/soulbot
ExecStart=/usr/bin/python3 /var/lib/soulbot/listener.py

[Install]
WantedBy=multi-user.target